.card-margin {
    margin-top: 60px;
}
.hidden{
    overflow: hidden;
}
.main-img:hover{
    animation: przyblizanie;
    animation-duration: 1000ms;
}
@keyframes przyblizanie{
    from{
        width: 100%;
        height: 100%;
    }
    to{
        transform: scale(1.15);
    }
}
.maska {
    width: 100%;
    height: 100%;
    background-color: pink;
}
.icon-main{
    font-size: 50px;
    color: pink;
}